<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminView</servlet-name>
        <jsp-file>/indexAdmin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BloodBankAdminView</servlet-name>
        <jsp-file>/viewBloodBankAdmin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RequestListView</servlet-name>
        <jsp-file>/requestLists.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BloodBankOrgView</servlet-name>
        <jsp-file>/viewBloodBankOrg.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>OrgEditView</servlet-name>
        <jsp-file>/editOrgForm.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginOrgServlet</servlet-name>
        <servlet-class>controller.organization.LoginOrgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutOrgServlet</servlet-name>
        <servlet-class>controller.organization.LogoutOrgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPassOrganization</servlet-name>
        <servlet-class>controller.organization.EditPassOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDonorServlet</servlet-name>
        <servlet-class>controller.donor.LoginDonorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutDonorServlet</servlet-name>
        <servlet-class>controller.donor.LogoutDonorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterDonorServlet</servlet-name>
        <servlet-class>controller.donor.RegisterDonorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDonorServlet</servlet-name>
        <servlet-class>controller.donor.UpdateDonorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDonorServlet</servlet-name>
        <servlet-class>controller.donor.SearchDonorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBloodBankServlet</servlet-name>
        <servlet-class>controller.bloodbank.AddBloodBankServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBloodBankServlet</servlet-name>
        <servlet-class>controller.bloodbank.DeleteBloodBankServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRequestServlet</servlet-name>
        <servlet-class>controller.request.addRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptReqServlet</servlet-name>
        <servlet-class>controller.request.AcceptReqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectReqServlet</servlet-name>
        <servlet-class>controller.request.RejectReqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPassAdminServlet</servlet-name>
        <servlet-class>controller.admin.EditPassAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrgEditView</servlet-name>
        <url-pattern>/editOrgForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrgAdminView</servlet-name>
        <jsp-file>/viewOrgAdmin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddOrganization</servlet-name>
        <servlet-class>controller.organization.AddOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrganization</servlet-name>
        <servlet-class>controller.organization.DeleteOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrganization</servlet-name>
        <servlet-class>controller.organization.EditOrganization</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrgAdminView</servlet-name>
        <url-pattern>/orgAdminView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminView</servlet-name>
        <url-pattern>/indexAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateAdminView</servlet-name>
        <jsp-file>/updateAdminForm.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.admin.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAdminView</servlet-name>
        <url-pattern>/updateAdminForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateAdminController</servlet-name>
        <servlet-class>controller.admin.UpdateAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAdminController</servlet-name>
        <url-pattern>/UpdateAdminController.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginAdminController</servlet-name>
        <servlet-class>controller.admin.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAdminController</servlet-name>
        <url-pattern>/LoginAdminController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrganization</servlet-name>
        <url-pattern>/AddOrganization.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrganization</servlet-name>
        <url-pattern>/DeleteOrganization.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrganization</servlet-name>
        <url-pattern>/EditOrganization.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginOrgServlet</servlet-name>
        <url-pattern>/LoginOrgController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutOrgServlet</servlet-name>
        <url-pattern>/LogoutOrgController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPassOrganization</servlet-name>
        <url-pattern>/EditPassOrganization.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDonorServlet</servlet-name>
        <url-pattern>/LoginDonorController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutDonorServlet</servlet-name>
        <url-pattern>/LogoutDonorContoller.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterDonorServlet</servlet-name>
        <url-pattern>/RegisterDonorController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDonorServlet</servlet-name>
        <url-pattern>/UpdateDonorController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDonorServlet</servlet-name>
        <url-pattern>/SearchDonorController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBloodBankServlet</servlet-name>
        <url-pattern>/AddBloodBankController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBloodBankServlet</servlet-name>
        <url-pattern>/DeleteBloodBankController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BloodBankAdminView</servlet-name>
        <url-pattern>/bloodBankAdminView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BloodBankOrgView</servlet-name>
        <url-pattern>/bloodBankOrgView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRequestServlet</servlet-name>
        <url-pattern>/addRequestController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptReqServlet</servlet-name>
        <url-pattern>/AcceptReqController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestListView</servlet-name>
        <url-pattern>/requestList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectReqServlet</servlet-name>
        <url-pattern>/RejectReqController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPassAdminServlet</servlet-name>
        <url-pattern>/EditPassAdminController.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/myDatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
